
body { /* REMOVED header */
   /* http://gradcolor.com/ */
  background: url(imgres.jpg) repeat-x ;
}

header h1{ 
  font-family: 'Baskerville', sans-serif;
  padding: 20px 0;
}

body h2, p{ /* REMOVED header */
  font-family: 'Baskerville', sans-serif;
  padding: 10px, 10px, 10px, 10px;
  text-align: center;
}

header nav {
  margin: 0;
  display: block;
  padding: 20px;
  font-family: 'Baskerville', sans-serif;
  display: flex;
  justify-content: flex-end;
}

#GA li {
  float: left;
  display: inline-block;
  padding: 25px 25px 25px 25px;
}

#about_info li {
  float: none;
  display: inline-block;
  padding: 15px 25px 10px 25px;
  font-family: 'Baskerville', sans-serif;
}

#contact li {
 display: inline-block;
 float: none;
 overflow: hidden;
 padding: 25px 25px 10px 25px;
}
