html, header {
  background-color: #A0CFEC; /* #C26C36 complement */
}

header h1 {
  font-family: 'Baskerville', sans-serif;
  /* padding: 20px 0; */
}

header nav {
  display: flex;
  justify-content: flex-end;
}
