
body {
   /* http://gradcolor.com/ */
  background: url(imgres.jpg) repeat-x;
}

header h1{
  font-family: 'Baskerville', sans-serif;
  padding: 10px, 10px, 10px, 10px;
}

body h2, p{
  font-family: 'Baskerville', sans-serif;
  padding: 10px, 10px, 10px, 10px;
  text-align: center;
}

body h3 {
  font-family: 'Baskerville', sans-serif;
  padding: 10px, 10px, 10px, 10px;
}

header nav {
  margin: 0;
  padding: 10px;
  font-family: 'Baskerville', sans-serif;
  display: inline-flex;
  text-align: right;
  color: #E47833;
}

#GA li {
  float: none;
  display: block;
  text-align: center;
  font-family: 'Baskerville', sans-serif;
}

#papers li {
  float: none;
  display: block;
  text-align: center;
  font-family: 'Baskerville', sans-serif;
}

#about_info li {
  float: none;
  display: inline-block;
  padding: 15px 25px 10px 25px;
  font-family: 'Baskerville', sans-serif;
}

#contact li {
 display:inline-block;
 float: none;
 overflow: hidden;
 padding: 25px;
 text-align: center;
}
